doctype html  
html  
  head  
    title   
    link(rel='stylesheet', href='/stylesheets/index.css')  
    script(src="/javascripts/logical.js")  
  body  
    div.header  
      div.header_title 平时成绩查询  
    div.content   
      block content  
    div.footer  
      p &copy; 